/* WHY CHOOSE CUT IT */
.whyus-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(/images/why\ us\ background.svg);
  }
  
  .whyus-container {
    max-width: 100rem;
    text-align: center;
    margin-left: clamp(3rem, 5vw, 10rem);
    margin-right: clamp(3rem, 5vw, 10rem);
    padding-top: clamp(2rem, 4vh, 8rem);
    padding-bottom: clamp(2rem, 4vh, 8rem);
  }
  
  .whyus-intro {
    text-align: center;
    margin-bottom: clamp(4rem, 3vh, 5rem);
  }
  
  .whyus-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-gap: 2rem;
  }
  
  .whyus-heading {
    font-size: clamp(2.5rem, 2vw, 6rem);
    margin: 0;
    margin-bottom: 5rem;
    font-weight: 400;
  }
  
  .grid-seperator {
    display: none;
    width: 2px;
    background-color: rgba(128, 128, 128, 0.247);
    height: 60%;
  }
  
  /* media component  */
  .media {
    display: flex;
    flex-direction: row;
    max-width: 51rem;
    margin-bottom: 5rem;
    text-align: start;
  }
  
  .media-icon {
    width: clamp(5.7rem, 6vw, 10rem);
    height: clamp(5.7rem, 6vw, 10rem);
    margin-right: clamp(0rem, 1vw, 2rem);
    border-radius: 50%;
  }
  
  .usecase-icon {
    color: #ffff;
  }
  
  .media-text {
    margin-left: 1rem;
  }
  
  .media-text > p {
    margin: 0.1rem;
  }
  
  @media screen and (min-width: 650px) {
    .whyus-intro {
      margin-top: clamp(2rem, 3vh, 3rem);
      margin-bottom: clamp(5rem, 8vh, 10rem);
    }
  }
  
  @media screen and (min-width: 900px) {
    .whyus-grid {
      grid-template-columns: 1fr 3px 1fr;
      grid-template-rows: fit-content;
      grid-column-gap: 5rem;
    }
  
    .grid-seperator {
      display: inline-block;
      grid-column: 2/3;
      grid-row: 1/6;
      margin: auto 0;
    }
  
    .user-section-title {
      grid-template-columns: 1/2;
    }
  
    .client-media {
      grid-column: 1/2;
    }
    
    .client-specialist {
       grid-column: 3/4;
    }
  
    .specialist-section-title {
      grid-template-columns: 3/4;
    }
  
  
    .row0 {
      grid-row: 1/2;
    }
  
    .row1 {
      grid-row: 2/3;
    }
  
    .row2 {
      grid-row: 3/4;
    }
  
    .row3 {
      grid-row: 4/5;
    }
  
    .row4 {
      grid-row: 5/6;
    }
  
  }