:root {

    --primary: #9F8268;
    --secondary: #000000;
    --accent: #FDF4EC;

}

html {
    font-size: 62.5%;
}

body {
    position: relative;
    font-family:'Poppins', sans-serif;
    font-size: 1.2rem;
    margin: 0;
    letter-spacing: 1.5;
    position: relative;

}

main {

}

/* Typography */ 
h1, h2, h3 , h4 , h5 , h6, p {
    margin: 0;
}

h1 {
    font-size: clamp(2.5rem, 5vw ,4rem);
}

h2 {
    font-size: clamp(1.8rem, 2vw, 2.5rem);
}

p {
    font-size: clamp(1.2rem, 2vw, 1.6rem);
}

.brown {
    color: var(--primary);
}

.black {
    color: var(--secondary);
}

.caption {
    font-style: italic;
    font-size: 1.5rem;
}

/* nav bar */
.header-section {
    background-color: #ffff;
    position: fixed;
    top: 0;
    width: 100%;

}

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 8%;
    transition: position 0.5s;

}

.nav-link {
    text-decoration: none;
    color: var(--secondary);
}

.nav-link:hover {
    color: var(--primary);
}


.navbar {
    display: none;
    align-items: center;
}

.navbar-item {
    list-style: none;
    margin: 0 2rem;
    
}


.nav-subscribe {
    display: none;
} 

.nav-menu-icon {
    font-size: 3.5rem;
    color: var(--primary)
}

.dropdown {
    background-color: #ffff;
    opacity: 0%;
    max-height: 0;

}

.dropdown-collapsed {
    opacity: 1;
    max-height: 100%;
    transition: all 1s;
}

.dropdown-list {
    display: flex;
    flex-direction: column ;
    justify-content: flex-start;
    align-items: center;
    padding: 0;
    margin: 0;
}

.navbar-item-dropdown {
    list-style: none;
    margin-bottom: 2.5rem;
}

/*makes nav bar stick*/
.sticky {
    width: 100%;
    margin: 0;
    position: fixed;
    top: 0;
    transition: position 0.5s;
}

.margin-filler {
    display: none;
}

.margin-filler-active {
 display: block;
}


.subscribe-btn {
    display: none;
    flex-direction: row;
    align-items: center;
    color: #ffff;
    background-color: var(--primary);
    border: none;
    max-height: 3.5rem;
    border-radius: 50px;
    padding: 0.75rem 1.25rem ;
    margin:0.25rem

}

@media screen and (min-width:1024px) {
    
    .nav-menu-icon {
        display: none;
    }

    .subscribe-btn {
        display: inline-block;
    }

    .navbar {
        display: flex;
    }

    .dropdown {
        display: none;
    }

    .margin-filler-active {
        display: block;
    }

}

/* icons */

.social-icon {
    font-size: 5rem;
    margin:0 1rem;
}



.social-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.download-icon {
    margin-right: 1rem;
}

/* cta buttons */

.btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #ffff;
    background-color: var(--primary);
    border: none;
    font-size: clamp(1.3rem, 2vw, 1.5rem);
    padding: 1rem 2.5rem;
    margin: 0.25rem;
    border-radius: 20px;
}

.btn-cta {
    max-height: 4rem;
    border-radius: 50px;
    padding: 1rem 2.5rem ;
    letter-spacing: 0.5px;
}




/* FAQ BUTTONS*/
.btn-faq{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--primary);
    border-radius: 10px;
    padding: 0.75rem;
    margin: 1rem;
    box-shadow: 0 0 10rem var(--accent);
}

.faq-icon {
    color:#ffff;
    font-size: 3rem;
    padding: 0.25rem;
    margin: 0 1rem;
    margin-right:5%;
}

.faq-title {
    color:#ffff;
}



.bold {
    font-weight:600;
}



/* price card */
.card {
    max-width:32rem;
    background-color: #ffff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 1.5rem var(--primary);
    margin:2rem
}

.card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 2rem;

}

.card-header {
    background-color: #9F8268;
    padding: 1rem 0;
    color: #ffff;
}

.card-title {
    margin: 0 auto;
    text-align: center;
    overflow: hidden;
}

.large {
    font-size: 4rem;
}

.card-subtitle {
    text-align: center;
}

.card-body-list {
font-size: 1.5rem;

}

.card-body-list-item {
    margin-bottom:2rem;
    list-style-image: url(/images/price-list-tick.svg);

}

.card-button {
    background-color: var(--primary);
    border:none;
    color:#ffff;
    margin: 0 auto;
    padding: 1rem 2rem;
    border-radius: 10px;
}

/* seperator */

.seperator {
    background-color: #9F8268;
    height: 2px;
    margin-left: clamp(3.8rem, calc(10vw * 1.6), 37rem);
    margin-right: clamp(3.6rem, calc(10vw * 1.6) , 37rem);
    margin-top: clamp(2rem, 1vh, 10rem);
    margin-bottom: clamp(2rem, 1vh, 10rem);
}

/* social block */

/* scroll bar */



/* Testimonial */

.testimonial {
 max-width:84rem;
 text-align: center;
 margin: auto;
 display: flex;
 flex-direction: column;
 justify-content: flex-start;
 align-items: center;
 border: 1px solid black;
}


.testimonial-quote-grid {
    font-weight: 300;
    color: var(--primary);
    margin-bottom: 2rem;
    display: grid;
    grid-template-columns: 15% 70% 15%;
    place-items: center;
}

.testimonial-name {
    color: var(--primary);
}

.upside-down {
    transform: rotate(180deg);
}


/* Footer */

/*INVERTED APPSTORE (FOOTER0*/
.btn-appstore-inverted {
    max-width: 25rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 0.75rem;
    margin: 1rem;
    color: var(--secondary);
    background: transparent;
    border: 2px solid var(--secondary);
}

.appstore-description-inverted {
    font-weight: 500;
    font-size: 1.2rem;
    letter-spacing: 0.5px;
}

.appstore-name-inverted {
    font-size: 2rem;
    font-weight: 400;
}

/* SECTION */

.section {
    margin-top: clamp(4rem, 10vw, 6rem);
}

.hero-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-container {
    max-width: 160rem;
    margin-left: clamp(2rem,15vw,35rem);
    margin-right: clamp(2rem,15vw,35rem);
    padding-top: clamp(5rem, 5vh, 8rem);
    padding-bottom: clamp(5rem, 5vh, 8rem);

}

.hero-grid {
    display: grid;
    place-items: center;
    grid-template-columns: 2fr;
    grid-template-rows: repeat(3, fit-content);
}

.hero-grid-title-section {
    grid-row: 1/2;
    grid-column: 1/2;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;
    
}

.hero-grid-image-section {
    grid-row: 2/3;
    grid-column: 1/2;
}

.hero-grid-subtitle-section {
    grid-row: 3/4;
    grid-column: 1/2;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-grid-subscribe-section {
    grid-row: 4/5;
    grid-column: 1/2;
    padding: 5rem 0;
    height: fit-content;
}

.download-btn{

    display: flex;
    flex-direction: row;
    align-items: center;
    color: #ffff;
    background-color: var(--primary);
    border: none;
    border-radius: 50px;
    margin: 3rem 0rem;
    box-shadow: 0 0 1rem #9F8268;

}

.hero-image {
    width: clamp(20rem, 5vw, 25rem);
    margin: 0;
    padding: 0;
}

.title-text {
    margin-top: 0rem;
    margin-bottom: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

.title-wrapper {
    display: flex;
    flex-direction: row;
    margin: 1rem auto;
}

.title-filler {
    color: #ffff;
}

#job-title {
    border-right: 1px solid black;
}

.title {
    font-size: clamp(4rem, 5vw, 10rem);
    line-height: clamp(3rem, 100%, 10rem);
    text-align: center;
}


.title-text-subtitle {
    margin-top: clamp(1.5rem, 1vh, 2rem);
    margin-bottom: clamp(2rem, 2vh, 4rem);
    font-size: 1.8rem;
    text-align: center;
}

.desktop-subtitle {
    display: none;
    text-align: start;
}

@media screen and (min-width: 900px) {

    .hero-grid {
        display: grid;
        grid-template-columns: 1.5fr 1fr ;
        grid-template-rows: 0.5fr 0.5fr;
        padding-bottom: 5rem ;
    }

    .hero-container {
        padding: 0;
    }

    .hero-grid-title-section {
        align-items: flex-start;
        grid-row: 1/3;
        grid-column: 1/2;
    }

    .title-text {
        text-align: start;
    }

    .title {
        text-align: start;
    }

    .title-wrapper {
        text-align: start;
        margin:0;
        margin-top: 2rem;
    }

    .hero-grid-image-section {
        text-align: center;
        grid-column: 2/3;
        grid-row: 1/3;
    }

    .hero-image {
        width: 35rem;
        margin: 0;
        padding: 0;
    }

    .hero-grid-subtitle-section {
        grid-column: 1/2;
        grid-row: 2/3;
    }

    .title-text-subtitle {
        max-width: 47rem;
        margin-bottom:1rem;
        font-size: 1.8rem;
        
    }

    .desktop-subtitle {
        display: inline-block;
    }

    .mobile-subtitle {
        display: none;
    }

    .download-button {
        padding: 0.8rem 3rem ;
    }


    .text-field-container {
        max-width: 45rem;
        margin: 0.75rem 0;
    }

}

@media screen and (min-width:1024px) {
    .hero-section {
        padding-top: 8rem;
    }
}

/* SUBSCRIBE */
.subscribe-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--ac);
    
}

.subscribe-section-container {
    max-width: 200rem;
    margin-left: clamp(2rem,10vw,15rem);
    margin-right: clamp(2rem,10vw,15rem);

}


.email-form {
    text-align: center;
    
 }

 .form-description {
     font: clamp(2rem, 2vw, 4rem);

 }
    
 .form-description-bottom {
    font: clamp(2rem, 2vw, 4rem);
    margin-top: 2rem;
    margin-bottom: 0;
}

.text-field-container {
        background-color: #ffff;
        max-width: 90rem;
        display: flex;
        align-items: center;
        box-shadow: 0 0 1rem var(--primary);
        border-radius: 50px;
        margin-top: 1.5rem;
    
       
}
    
.text-field {
        border:none;
        border-radius: 50px 0 0 50px;
        width: 100%;
        margin: 0;
        margin-left:2rem;
}
    
.text-field:focus {
    outline: none;
        
}

    @media screen and (min-width:1024px) {
        .email-form {
            width: 80rem;
            text-align: center
        }
        
        .text-field-container {
            margin-top: 2.5rem;
            max-width: 100%;
        }


        .subscribe-section-container {
            max-width: 70%;
            margin-left: 0;
            margin-right: 0;
            margin-top: 1rem;
            margin-bottom: 1rem;
        
        }
    }
    


/* QUOTE SECTION */

.quote-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quote-container {
    max-width: 150rem;
    text-align: center;
    margin-left: clamp(1rem,3vw,10rem);
    margin-right: clamp(1rem,3vw,10rem);
    padding-top: clamp(2rem, 5vh, 8rem);
    padding-bottom: clamp(2rem, 5vh, 8rem);
}

.quote-grid {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    margin: 5vh;
}

.left-quote {
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;

}

.quote-text {
    font-size: clamp(2rem, 3vw, 4rem);
    
}

.quote-marks {
    
    width: clamp(0.2rem, 1vw 5rem);
}

.right-quote {
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
}


.right-quote > img {
    transform: rotate(180deg);
}



/* FEATURES */

.features-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.features-container {
    margin-left: clamp(2rem,5vw, 5rem);
    margin-right: clamp(2rem,5vw, 5rem);
    padding-top: clamp(4rem, 5vh, 15rem);
    padding-bottom: clamp(4rem, 5vh, 15rem);
    display: flex;
    flex-direction: column;
}

.features-intro {
    text-align: center;
    margin-bottom: clamp(4rem, 5vh, 15rem);
    margin-left: clamp(2rem,5vw,8rem);
    margin-right: clamp(2rem,5vw,8rem);

}

.feature-intro-intro {
    margin-top: 1.5rem;
}

.features-grid {
    display:grid;
    grid-template-columns: 2fr;
    grid-template-rows: 1fr;
    grid-gap:clamp(2rem, 3vw, 6rem);
    place-items: center ;
}

.features-buttons {
    margin-top: 5%;
    display: grid;
    place-items: center;
    width: 100%;
}

.features-image {
    display: none;
    width: clamp(15rem, 40vw, 40rem);
    margin: 0;
    padding: 0;
}


/* feature buttons */
.btn-feature{
    width: clamp(30rem, 50vw, 73rem);
    background-color: white;
    border-radius: 15px;
    padding: 0.75rem;
    margin: 1rem auto;
    box-shadow: 0 0 1rem var(--primary);
    width: 90%;
    max-width:73rem;
}

.btn-feature-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.feature-icon-container {
    font-size: 2.25rem;
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50px;
    background-color: #ffff;
    margin: 0 1rem;
    margin-right:5%;
    border: 3.5px solid var(--primary);
    display: grid;
    place-items: center;
}

.feature-icon {
    color: var(--primary);
}

.feature-title {
    color: black;
    font-weight: 400;
    font-size: (1.4rem, 1vw , 2rem );
}

.feature-seperator {
    max-width: 50rem;
    margin: 1rem 0;
}

.feature-description {
display: none;
    color: black;
    margin: 1rem 3rem 2rem 5rem;
    max-width: 55rem;
}

.hide {
    display: none;
    opacity: 0;
    max-height: 0;
}

/* OPEN FEATURE */
.feature-description-open {
    display: inline-block;
}

@media  screen and (min-width: 768px) {

    .features-grid {
        display:grid;
        grid-template-columns: 2fr 1fr;
    }

    .features-image {
        display: inline-block
    }

    .btn-feature {
        margin: 0.5rem 0;
    }

    .feature-icon-container {
        width: 5rem;
        height: 5rem;
        font-size: 3rem;
        border-radius: 40px;
        margin: 0 1rem;
        margin-right:5%;
    }
    
    .feature-description {
            margin: 0rem 3rem 4rem 7rem;
            max-width: 55rem;
        }
}



/* WHY CHOOSE CUT IT */
.whyus-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.whyus-container {
    max-width: 100rem;
    text-align: center;
    margin-left: clamp(3rem,5vw,10rem);
    margin-right: clamp(3rem,5vw,10rem);
    padding-top: clamp(2rem, 5vh, 8rem);
    padding-bottom: clamp(2rem, 5vh, 8rem);
}

.whyus-intro {
    margin-bottom: clamp(4rem, 3vh, 5rem );
}

.whyus-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-gap: 5rem;

}

.whyus-heading {
    font-size: clamp(2.5rem, 2vw, 6rem );
    margin-bottom: 5rem;
    font-weight: 400;

}

.grid-seperator {
    display: none;
    width: 2px;
    background-color: rgba(128, 128, 128, 0.247);
    height: 60%;
}

/* media component  */
.media {
    display: flex;
    flex-direction: row;
    max-width: 51rem;
    margin-bottom: 5rem;
    text-align: start;
}

.media-icon {
    width: clamp(5.7rem, 6vw, 10rem);
    height: clamp(5.7rem, 6vw, 10rem);
    margin-right: clamp(0rem, 1vw, 2rem);
    border-radius:50%;
}


.usecase-icon {
    color: #ffff;
}

.media-text {
    margin-left:1rem;

}

@media screen and (min-width:650px) {

    .whyus-intro {
        margin-top: clamp(2rem, 3vh, 3rem);
        margin-bottom: clamp(5rem, 8vh, 10rem );
    }
    

}


@media screen and  (min-width:900px) {
    
    .whyus-grid {
        grid-template-columns: 1fr 3px 1fr;
        grid-template-rows: 1fr;
    }

    .grid-seperator {
        display: inline-block;
        grid-template-columns: 2/3;
        margin: auto 0;
    }

    .user-section {
        grid-template-columns: 1/2;
    }

    .specialist-section {
        grid-template-columns: 3/4;

    }

}

/*HOW TO SECTION*/

.howto-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.howto-container {
    max-width: 120rem;
    text-align: center;
    margin-left: clamp(4rem,5vw,10rem);
    margin-right: clamp(4rem,5vw,10rem);
    padding-top: clamp(2rem, 5vh, 8rem);
    padding-bottom: clamp(1rem, 1vh, 4rem);
}

.howto-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.75fr 1fr 0.5fr ;
}

.howto-image-container {
    grid-row: 1/2;
    grid-column: 1/2;
}

.howto-list-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-row: 2/3;
    grid-column: 1/2;
}

.howto-list {

}

.howto-appstore-section {
    grid-column: 1/2;
    grid-row: 3/4;
}


/* HOW TO BUTTONS*/
.btn-howto {
    width: clamp(15rem, 85vw, 60rem);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background-color: #ffff;
    border-radius: 15px;
    padding: 2rem 1rem;
    margin: 1rem 0;
    box-shadow: 0 0 1rem var(--primary);
    text-align: start;

}

.howto-icon-container {
    font-size: 1.5rem;
    padding: 0.5rem 0.95rem;
    border-radius: 40px;
    background-color: var(#ffff);
    margin: 0 1rem;
    margin-right:5%;
    border: 1px solid var(--primary);
    color: var(--primary);
}

.howto-title {
    color: var(--secondary);
}

.howto-description {
    color: var(--secondary);  
}

.howto-image {
        width: clamp(30rem, 40vw, 50rem);
}


@media screen and  (min-width:768px) {
    
    .howto-grid {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 0.5fr; 
    }

    .howto-image-container {
        grid-row: 1/3;
        grid-column: 1/2;
    }
    
    .howto-list-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        grid-row: 1/2;
        grid-column: 2/3;
    }
    
    .howto-appstore-section {
        grid-column: 2/3;
        grid-row: 2/3;
    }
    
}


/* App store grid */


.appstore-grid {
    grid-template-rows: 1fr 0.5fr 0.5fr;
    margin: 2rem auto;
}

.appstore-grid-text {
    grid-column: 1/3;
    grid-row: 1/2;
}

.appstore-grid-buttonA {
    grid-column: 1/3;
    grid-row: 2/3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.appstore-grid-buttonB {
    grid-column: 1/3;
    grid-row: 3/4;
}

@media screen and  (min-width:768px) {
    
    .appstore-grid {
        margin: 4rem auto;
        grid-template-rows: 1fr 0.5fr 0.5fr;
    }

    .appstore-grid-buttonA {
        grid-column: 1/3;
        grid-row: 2/3;
    }
    
    .appstore-grid-buttonB {
        grid-column: 1/3;
        grid-row: 3/4;
    }



    .appstore-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 0.5fr;
        grid-gap: 1rem;
    }
    
    .appstore-grid-text {
        grid-column: 1/3;
        grid-row: 1/2;
    }
    
    
    .appstore-grid-buttonA {
        grid-template-columns: 1/2;
        grid-row: 2/3;
    }
    
    .appstore-grid-buttonB {
        grid-template-columns: 2/3;
        grid-row: 2/3;
    }
}

/*App store buttons*/
.btn-appstore{
    max-width: 25rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary);
    border-radius: 10px;
    padding: 0.75rem;
    margin: 1rem auto;
    color: #ffff;

}

.appstore-icon {
    color:#ffff;
    font-size: 3rem;
    padding: 0rem;
    margin-right:2rem;
}

.appstore-description {
    font-weight: 400;
    font-size: 1.2rem;
    letter-spacing: 0.5px;
}

.appstore-name {
    font-size: 2rem;
    font-weight: 400;
}



/* DATA WHEEL */
.data-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.data-section-container {
    text-align: center;
    margin-left: clamp(4rem,5vw,10rem);
    margin-right: clamp(4rem,5vw,10rem);
    padding-top: clamp(2rem, 5vh, 8rem);
    padding-bottom: clamp(5rem, 5vh, 8rem);
}

.data-text-subheading {
    margin-top:2rem;
}

.data-outer-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.5fr 1fr;
    max-width: 89rem;
}

.data-image-container {
    display: none;

}

.data-phone-image{
    width:clamp(15rem, 25vw, 30rem) ;
}

.data-text-container {
    grid-column: 1/3;
    grid-row: 1/2;

}

.data-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.data-data-wheels-container {
    grid-column: 1/3;
    grid-row: 2/3;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.data-wheels-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap:3rem;
}

/* data wheel */

.data-wheel {
    width: 13.5rem;
     height: 13.5rem;
     object-fit: cover;
        display: grid;
        place-items: center;
        background-image: url(/images/datawheel-background.svg);
        color:#ffff;
    }
    
    .data-wheel-content {
        text-align: center;
        font-size: 1.6rem;
    }
    



@media screen and  (min-width:768px) {
    
    .data-outer-grid {
        grid-template-columns: 1fr 4fr;
        grid-template-rows: 1fr 1fr;
        place-items: center;
    }
    
    .data-image-container {
        display: inline-block;
        grid-column: 1/2;
        grid-row: 1/3;
    
    }
    
    .data-text-container {
        grid-column: 2/3;
        grid-row: 1/2;
    
    }
    
    .data-data-wheels-container {
    
        grid-column: 2/3;
        grid-row: 2/3;
    }
    
    .data-wheels-grid {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr;
        grid-gap:2rem;
    }



}