@font-face {
    font-family: 'Akrobat ExtraLight';
    src: url('Akrobat-ExtraLight.eot');
    src: url('Akrobat-ExtraLight.eot?#iefix') format('embedded-opentype'),
    url('Akrobat-ExtraLight.woff') format('woff'),
    url('Akrobat-ExtraLight.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }