    <!--App store buttons-->
    <div class="btn-appstore btn-appstore-inverted">
        <img class="appstore-icon" src="/images/play.svg" alt="">
        <div class="appstore-text">
            <p class="appstore-description">Available on iOS and Android.</p>
            <h3 class="appstore-name">Google Play</h3>
        </div>
    </div>
    
    <div class="btn-appstore">
        <img class="appstore-icon" src="/images/app-store.svg" alt="">
        <div class="appstore-text">
            <p class="appstore-description">Available on iOS and Android.</p>
            <h3 class="appstore-name">Google Play</h3>
        </div>
    </div>