<!--feature button-->
<div class="btn-feature">
    <div class="btn-feature-container">
        <div class="feature-icon-container">
            <i class="feature-icon fas fa-calendar-alt"></i>
        </div>
        <p class="feature-title">Bookings & appointments</p>
    </div>
    <div class="feature-description">
        <hr class="feature-seperator">
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sapiente iure nobis maiores itaque quisquam omnis facilis quod et perspiciatis eveniet.</p>
    </div>
</div>

