<!--Price card-->

<div class="card">
    <header class="card-header">
        <h2 class="card-title"><span class="large">£20</span>/month</h2>
        <p class="card-subtitle">Easy start to grow your business</p>
    </header>
    <section class="card-body">
      <ul class="card-body-list">
          <li class="card-body-list-item">Lorem, ipsum dolor sit amet consectetur adipisicing.</li>
          <li class="card-body-list-item">Lorem, ipsum dolor sit amet consectetur adipisicing.</li>
          <li class="card-body-list-item">Lorem, ipsum dolor sit amet consectetur adipisicing.</li>
          <li class="card-body-list-item">Lorem, ipsum dolor sit amet consectetur adipisicing.</li>
      </ul>
      <button class="card-button">Get started</button>
    </section>
</div>