    <!--Testimonial-->

    <div class="testimonial">
        <div class="testimonial-quote-grid">
            <img src="/images/quote-upwards.svg" alt="">
            <h2 class="brown">CUT-IT gives artists the creative space to share their work, master their craft or turn their hobby into a profession. </h2>
            <img class="upside-down" src="/images/quote-downwards.svg" alt="">
        </div>
        <div class="testimonial-caption caption">
            <img class="testimonial-image" src="/images/testimonial-image.svg" alt="">
            <p class="testimonial-name">Mark Becker</p>
            <p class="testimonial-Location">Bristol, UK</p>
        </div>
    </div>